# code owners must approve PRs with they make changes to these files:

# @HUSSAR-mtrela must approve DV topics
**/charts/**/*.md @HUSSAR-mtrela
**/maps/**/*.md @HUSSAR-mtrela
**/gauges/**/*.md @HUSSAR-mtrela

# @HUSSAR-mtrela must approve XPLAT docs source
**/*.js @HUSSAR-mtrela
**/*.ts @HUSSAR-mtrela

# @HUSSAR-mtrela must approve XPLAT docs config
./*.json @HUSSAR-mtrela
