<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".json" />
            <remove fileExtension=".woff" />
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".json" mimeType="application/json;charset=UTF-8;" />
            <mimeMap fileExtension="woff" mimeType="application/font-woff" />
            <mimeMap fileExtension="woff2" mimeType="application/font-woff" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name="X-XSS-Protection" value="0" />
            </customHeaders>
        </httpProtocol>
         <rewrite>
            <rules>
                <clear />

<!-- note if this file has changed then you need to commit it AND create a PR with a copy the following rules pasted in UrlRewriting.config file -->
<!-- https://infragistics.visualstudio.com/DefaultCollection/IS/_git/Web?path=%2FUmbraco%2FU7.3%2FInfragistics.Web.Umbraco.Extensions%2Fconfig%2FUrlRewriting.config  -->
<!-- {AutoInsertRules} -->


  <rule name="Redirect for Ignite UI Blazor - remove .html" enabled="true" stopProcessing="true">
      <match url="^((products\/ignite-ui-blazor\/blazor)(\/)?(.*)).html$" />
      <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
        <add input="{URL}" pattern="^(.*)\/toc(.*)$" negate="true" />
      </conditions>
      <action type="Redirect" url="{R:1}" redirectType="Permanent" />
  </rule>
  <rule name="Redirect for Ignite UI Blazor - remove .html" enabled="true" stopProcessing="true">
      <match url="^((blazorsite)(\/)?(.*)).html$" />
      <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
        <add input="{URL}" pattern="^(.*)\/toc(.*)$" negate="true" />
      </conditions>
      <action type="Redirect" url="{R:1}" redirectType="Permanent" />
  </rule>

  <rule name="Redirect for Ignite UI React - remove .html" enabled="true" stopProcessing="true">
      <match url="^((products\/ignite-ui-react\/react)(\/)?(.*)).html$" />
      <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
        <add input="{URL}" pattern="^(.*)\/toc(.*)$" negate="true" />
      </conditions>
      <action type="Redirect" url="{R:1}" redirectType="Permanent" />
  </rule>
  <rule name="Redirect for Ignite UI React - remove .html" enabled="true" stopProcessing="true">
      <match url="^((reactsite)(\/)?(.*)).html$" />
      <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
        <add input="{URL}" pattern="^(.*)\/toc(.*)$" negate="true" />
      </conditions>
      <action type="Redirect" url="{R:1}" redirectType="Permanent" />
  </rule>

  <rule name="Redirect for Ignite UI Web Components - remove .html" enabled="true" stopProcessing="true">
      <match url="^((products\/ignite-ui-web-components\/web-components)(\/)?(.*)).html$" />
      <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
        <add input="{URL}" pattern="^(.*)\/toc(.*)$" negate="true" />
      </conditions>
      <action type="Redirect" url="{R:1}" redirectType="Permanent" />
  </rule>
  <rule name="Redirect for Ignite UI Web Components - remove .html" enabled="true" stopProcessing="true">
      <match url="^((webcomponentssite)(\/)?(.*)).html$" />
      <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
        <add input="{URL}" pattern="^(.*)\/toc(.*)$" negate="true" />
      </conditions>
      <action type="Redirect" url="{R:1}" redirectType="Permanent" />
  </rule>

            </rules>

        </rewrite>
    </system.webServer>
</configuration>
